<div class='title'>
  <h1>Day 1 Workshop</h1>
</div>

<div >
  <div class='content'>
    Hi.
  </div>
  <div class='content'>
    Here's a bat.
    <br>
    <img id="bat-pic" src="../assets/bat-shadow.svg">
    <br>
  </div>
  <app-text message="this is my message"></app-text>

  <app-text message="this is my 2nd message"></app-text>
  <div class='content'>
    And here's a song.
    <br>
    <br>
    <video width="400" controls>
      <source src="../assets/deaf-kev-invincible.mp4" type="video/mp4">
    </video> 
    <p>
      Source: <a href="https://www.youtube.com/watch?v=J2X5mJ3HDYE">https://www.youtube.com/watch?v=J2X5mJ3HDYE</a>
    </p>
  </div>
</div>

